In [1]:
import pandas as pd

In [4]:
python_converted = pd.read_csv("/Users/alexanderkell/Documents/SGI/Projects/17-ClicSAND/data/processed/output.csv")
python_converted.head(10134)

/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Variable,Dim1,Dim2,Dim3,Dim4,Dim5,Dim6,Dim7,Dim8,Dim9,Dim10,ResultValue
0,NewCapacity,RE1,MINCOA,2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.147166
1,NewCapacity,RE1,MINCOA,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.147166
2,NewCapacity,RE1,MINCOA,2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.147166
3,NewCapacity,RE1,MINCOA,2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.147166
4,NewCapacity,RE1,MINCOA,2025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.147166
...,...,...,...,...,...,...,...,...,...,...,...,...
10129,RateOfActivity,RE1,S120,PWRCOA,1.0,2048.0,NaN,NaN,NaN,NaN,NaN,10.266932
10130,RateOfActivity,RE1,S121,PWRCOA,1.0,2048.0,NaN,NaN,NaN,NaN,NaN,10.266932
10131,RateOfActivity,RE1,S122,PWRCOA,1.0,2048.0,NaN,NaN,NaN,NaN,NaN,10.266932
10132,RateOfActivity,RE1,S123,PWRCOA,1.0,2048.0,NaN,NaN,NaN,NaN,NaN,10.266932
10133,RateOfActivity,RE1,S124,PWRCOA,1.0,2048.0,NaN,NaN,NaN,NaN,NaN,10.266932

In [3]:
access_converted = pd.read_csv("/Users/alexanderkell/Documents/SGI/Projects/17-ClicSAND/data/raw/access_output/Results_Database/FinalResultsTable.csv")
access_converted

,Variable,Dim1,Dim2,Dim3,Dim4,Dim5,Dim6,Dim7,Dim8,Dim9,Dim10,ResultValue
0,NewCapacity,MINCOA,2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.759193
1,NewCapacity,MINCOA,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.759193
2,NewCapacity,MINCOA,2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.759193
3,NewCapacity,MINCOA,2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.759193
4,NewCapacity,MINCOA,2025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.759193
...,...,...,...,...,...,...,...,...,...,...,...,...
10129,AnnualTechnologyEmission,MINNGS,EMIC02,2051,NaN,NaN,NaN,NaN,NaN,NaN,NaN,295.604380
10130,AnnualTechnologyEmission,MINNGS,EMIC02,2052,NaN,NaN,NaN,NaN,NaN,NaN,NaN,305.757160
10131,AnnualTechnologyEmission,MINNGS,EMIC02,2053,NaN,NaN,NaN,NaN,NaN,NaN,NaN,316.249560
10132,AnnualTechnologyEmission,MINNGS,EMIC02,2054,NaN,NaN,NaN,NaN,NaN,NaN,NaN,311.800190
10133,AnnualTechnologyEmission,MINN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
python_converted.compare(access_converted)

ValueError: Can only compare identically-labeled DataFrame objects